 {% extends 'layout.html' %}

{% block title %}
  About the Creators
{% endblock %}

{% block body %}
    <main>
        <section class="text-center">
            <h2 class="text-4xl font-bold mb-4">Know about the creators of this Website</h2>
        </section>

        <div class="bg-white relative flex items-center justify-center overflow-hidden z-50 ">
            <div class="relative mx-auto h-full px-4 pb-20 md:pb-10 sm:max-w-xl md:max-w-full md:px-24 lg:max-w-screen-xl lg:px-8">
                <div class="flex flex-col items-center justify-between lg:flex-row py-16">
                    <div class="relative">
                        <h2 class="mb-6 max-w-lg text-5xl font-light leading-snug tracking-tight text-g1 sm:text-7xl sm:leading-snug">
                            Sarath Chandra Godithi
                        </h2>
                        <p class="text-base text-gray-700">OCD developed Telugu mf.</p>
                        <div class="mt-10 flex flex-col items-center md:flex-row">
                            <a aria-label="" class="group inline-flex items-center font-semibold text-g1">This is how I look
                                <svg xmlns="http://www.w3.org/2000/svg" class="ml-4 h-6 w-6 transition-transform group-hover:translate-x-2" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M17 8l4 4m0 0l-4 4m4-4H3"></path>
                                </svg>
                            </a>
                        </div>
                    </div>
                    <div class="relative hidden lg:ml-32 lg:block lg:w-1/2">
                        <svg xmlns="http://www.w3.org/2000/svg" class="my-6 mx-auto h-10 w-10 animate-bounce rounded-full bg-white p-2 lg:hidden" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M16 17l-4 4m0 0l-4-4m4 4V3"></path>
                        </svg>
                        <div class="abg-orange-400 mx-auto w-fit overflow-hidden rounded-[6rem] rounded-br-none rounded-tl-none">
                            <img src="/templates/sarath.jpg">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="bg-white relative flex items-center justify-center overflow-hidden z-50 ">
            <div class="relative mx-auto h-full px-4 pb-20 md:pb-10 sm:max-w-xl md:max-w-full md:px-24 lg:max-w-screen-xl lg:px-8">
                <div class="flex flex-col items-center justify-between lg:flex-row py-16">
                    <div class="relative">
                        <h2 class="mb-6 max-w-lg text-5xl font-light leading-snug tracking-tight text-g1 sm:text-7xl sm:leading-snug">
                            Vedang Patel
                        </h2>
                        <p class="text-base text-gray-700">Master (f/y)apper</p>
                        <div class="mt-10 flex flex-col items-center md:flex-row">
                        </div>
                    </div>
                    <div class="relative hidden lg:ml-32 lg:block lg:w-1/2">
                        <svg xmlns="http://www.w3.org/2000/svg" class="my-6 mx-auto h-10 w-10 animate-bounce rounded-full bg-white p-2 lg:hidden" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M16 17l-4 4m0 0l-4-4m4 4V3"></path>
                        </svg>
                        <div class="abg-orange-400 mx-auto w-fit overflow-hidden rounded-[6rem] rounded-br-none rounded-tl-none">
                            <img src="/templates/vedang.jpg">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="bg-white relative flex items-center justify-center overflow-hidden z-50 ">
            <div class="relative mx-auto h-full px-4 pb-20 md:pb-10 sm:max-w-xl md:max-w-full md:px-24 lg:max-w-screen-xl lg:px-8">
                <div class="flex flex-col items-center justify-between lg:flex-row py-16">
                    <div class="relative">
                        <h2 class="mb-6 max-w-lg text-5xl font-light leading-snug tracking-tight text-g1 sm:text-7xl sm:leading-snug">
                            Aditya Jagdale
                        </h2>
                        <p class="text-base text-gray-700">Horny for lizards</p>
                        <div class="mt-10 flex flex-col items-center md:flex-row">
                        </div>
                    </div>
                    <div class="relative hidden lg:ml-32 lg:block lg:w-1/2">
                        <svg xmlns="http://www.w3.org/2000/svg" class="my-6 mx-auto h-10 w-10 animate-bounce rounded-full bg-white p-2 lg:hidden" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M16 17l-4 4m0 0l-4-4m4 4V3"></path>
                        </svg>
                        <div class="abg-orange-400 mx-auto w-fit overflow-hidden rounded-[6rem] rounded-br-none rounded-tl-none">
                            <img src="/templates/adi.jpg">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="bg-white relative flex items-center justify-center overflow-hidden z-50 ">
            <div class="relative mx-auto h-full px-4 pb-20 md:pb-10 sm:max-w-xl md:max-w-full md:px-24 lg:max-w-screen-xl lg:px-8">
                <div class="flex flex-col items-center justify-between lg:flex-row py-16">
                    <div class="relative">
                        <h2 class="mb-6 max-w-lg text-5xl font-light leading-snug tracking-tight text-g1 sm:text-7xl sm:leading-snug">
                            Vimal Jayant S
                        </h2>
                        <p class="text-base text-gray-700">Lowkey Id smash him</p>
                        <div class="mt-10 flex flex-col items-center md:flex-row">
                        </div>
                    </div>
                    <div class="relative hidden lg:ml-32 lg:block lg:w-1/2">
                        <svg xmlns="http://www.w3.org/2000/svg" class="my-6 mx-auto h-10 w-10 animate-bounce rounded-full bg-white p-2 lg:hidden" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M16 17l-4 4m0 0l-4-4m4 4V3"></path>
                        </svg>
                        <div class="abg-orange-400 mx-auto w-fit overflow-hidden rounded-[6rem] rounded-br-none rounded-tl-none">
                            <img src="/templates/vj.jpg">
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>
{% endblock %}
