{% extends 'layout.html' %}

{% block title %}
    Pokemon Database
{% endblock %}
{% block head %}
    <style>
    body {
      background-image: url('/static/bg3.jpg');
      background-repeat: no-repeat;
      background-attachment: fixed; 
      background-size: 100% 100%;
    }
    </style>
{% endblock %}

{% block body %}

    <main class="container mx-auto py-8">
        <section class="text-center">
            <h2 class="text-4xl font-bold mb-4">Welcome to the Pokemon Database</h2>
            <p class="text-lg text-gray-700">Explore the world of Pokemon and become a Pokemon Master!</p>
        </section>

        <section class="mt-8">
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 mx-auto">
                <div class="bg-white p-4 shadow-md">
                    <h3 class="text-xl font-bold mb-2">Pokedex</h3>
                    <p class="text-gray-700">Browse through the Pokedex and discover information about different Pokemon species.</p>
                    <a href="/pokelist" class="mt-4 inline-block bg-red-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded">Explore Pokedex</a>
                </div>
                <div class="bg-white p-4 shadow-md">
                    <h3 class="text-xl font-bold mb-2">About</h3>
                    <p class="text-gray-700">Get to know about the creators of this resourceful website.</p>
                    <a href="/about" class="mt-4 inline-block bg-red-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded">About</a>
                </div>
            </div>
        </section>
    </main>
{% endblock %}
