{% extends 'layout.html' %}

{% block title %}
    {{ pokemon.name }}
{% endblock %}

{% block body %}
    <img src="{{ pokemon.sprites.front_default }}"">
    <h1>{{ pokemon.name }}</h1>
    type: {{ pokemon.types.0.type.name }} {% if pokemon.types.1 %}{{ pokemon.types.1.type.name }}{% endif %}
    <p>Height: {{ pokemon.height }}</p>
    <p>Weight: {{ pokemon.weight }}</p>
    <p>Abilities: {{ pokemon.abilities.0.ability.name }} {% if pokemon.abilities.1 %}{{ pokemon.abilities.1.ability.name }}{% endif %}</p>
    <p>Base Experience: {{ pokemon.base_experience }}</p>
    <p>Stats:</p>
    <ul>
        {% for stat in pokemon.stats %}
            <li>{{ stat.stat.name }}: {{ stat.base_stat }}</li>
        {% endfor %}
    </ul>
{% endblock %}