{% extends 'layout.html' %}

{% block title %}
    Pokemon Database
{% endblock %}

{% block body %}
        <div class="container m-auto grid grid-cols-5 gap-4">
            {% for pokemon in pokemons %}
                <div class="flex items-center justify-center">
                    <img id="{{ pokemon.name }}" class="w-32 h-32" alt="{{ pokemon.name }}">
                    <script>
                        fetch("{{ pokemon.url }}")
                            .then(response => response.json())
                            .then(data => {
                                let sprite = data.sprites.front_default;
                                let img = document.createElement("img");
                                img.src = sprite;
                                img.alt = "{{ pokemon.name }}";
                                document.getElementById("{{ pokemon.name }}").appendChild(img);
                            });
                    </script>
                </div>
    {% endfor %}
{% endblock %}
