{% extends 'layout.html' %}

{% block title %}
    {{ pokemon.name }}
{% endblock %}

{% block body %}
    <div class=" pokemon-card-container">
        <div class = "pokemon-card">
            <div class = "Background">
                <img src="{{ pokemon.sprites.front_default }}" class = "image">
            </div>
            <div class = "content">
                <h1 class = "pokemon-name">{{ pokemon.name }}</h1>
        <span class = "type">{{ pokemon.types.0.type.name }} {% if pokemon.types.1 %}{{ pokemon.types.1.type.name }}{% endif %}</span>

        <div class = "stats">
            <p> Height: {{ pokemon.height }}</p>
            <p> Weight: {{ pokemon.weight }}</p>
            <p> Base Experience: {{ pokemon.base_experience }}</p>
            <p> Abilities: <a href="/ability/{{ pokemon.abilities.0.ability.name }}">{{ pokemon.abilities.0.ability.name }}</a> {% if pokemon.abilities.1 %}<a href="/ability/{{ pokemon.abilities.0.ability.name }}">{{ pokemon.abilities.1.ability.name }}</a>{% endif %}</p></p>
            </div>
        </div>
    <p>Stats:</p>
    <ul>
        {% for stat in pokemon.stats %}
            <li>{{ stat.stat.name }}: {{ stat.base_stat }}</li>
        {% endfor %}
    </ul>
{% endblock %}